@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'proxima-nova';
  src: url('./FontsFree-Net-ProximaNova-Regular.ttf');
}
@layer base {
  * {
    @apply p-0 m-0 box-border font-[proxima-nova];
  }
}
@layer components {
  .main-navbar {
    @apply w-[100%] flex  py-[16px] z-50 px-[8%] relative text-center bg-[#741fa2] h-[76px]
    justify-between;
  }
  .logo {
    @apply flex items-center flex-grow-0 mr-[41px] h-[44px];
  }
  .menu {
    @apply h-[100vh] bg-black w-[100%] fixed top-[76px] text-white py-10 left-[-100%] transition-left lg:transition-none   duration-700 flex-col
    lg:w-auto lg:h-auto lg:top-0 lg:relative lg:py-0 lg:left-0 lg:bg-transparent lg:inline-block;
  }
  /* Search Bar */
  .search_bar {
    @apply relative flex-[1] mr-[12px];
  }
  .form_box {
    @apply w-[100%] h-[44px] relative mr-0;
  }
  .form {
    @apply absolute w-[100%] rounded-[22px] bg-white shadow-sm overflow-hidden border-[#e0e0e0];
  }
  .formInput {
    @apply appearance-none w-[100%] border-0 h-[44px] outline text-base font-normal indent-10 pr-5 text-[#595959];
  }
  .form_link {
    @apply flex flex-row py-2 overflow-hidden w-[100%] text-[#595959] hover:bg-[#a0a0a01e] before:pl-12 before:block after:pr-8 after:block;
  }
  /* menu Link */
  .menu_link {
    @apply lg:w-[6rem] lg:h-12 xl:w-[9rem] mx-1 rounded-[1000px] text-sm font-bold cursor-pointer hover:bg-[#883cb1] lg:inline-block lg:py-0;
  }
  .menu_icon {
    @apply w-8 h-1 bg-white my-2 hover:rounded-md shadow-md;
  }
  .active_menu {
    @apply left-0;
  }

  /* footer */
  .footer {
    @apply w-[100%] bg-white border-t-[1px] border-t-[#e0e0e0] border-b-[20px] border-b-[#741fa2];
  }
  .inner_footer {
    @apply flex justify-center lg:justify-between px-[6%] items-center  flex-wrap;
  }
  .footer_Link {
    @apply font-mono py-2 first:mt-4 text-[13px] text-[#595959] hover:text-[#741fa2];
  }

  /* All Store */
  .filter_reslut {
    @apply py-3 pb-6 px-3 border-b-[1px];
  }
}
